body{
  background-color:  #1b2631;
}
.container{
}
#usage-wrapper{
  margin-top: 10vh;
  font-size: 6em;

  color: #fff;
  text-align: center;
}
#usage-input{
  background-color: inherit;

  font-size: inherit;
  width: 4em;
  text-align: center;
  color: #fff;

  border-width: 0 0 2px 0;
  border-color:  #515a5a;
}
#components{
  margin-top: 10px;

  color: #fff;
  font-size: 2em;
}
.component{
  padding: .5em;
}
.hidden-elem{
}
#CO2-wrapper{
  margin: 50px;

  font-size: 2em;

  color: #fff;
  text-align: center;
}
#CO2{
  font-size: 3em;
  margin: 20px;
  padding: 20px;

  width: 50%;
  margin: auto;

  color: #1b2631;
  background-color: #eee;

  border: 1px solid #fff;
  border-radius: 10px;
}
.footnote{
  margin-top: 20px;
  color: #fff;
  font-style: italic;
}
